$color-main-green: #05A081;
$color-white: #FFFFFF;
$color-white-placeholder: #D3D3D3;
$color-black: #000000;
$color-main-text: #1A1A1A;
$color-navigation-dark: #232A34;
$color-input-focus: #071B4D;
$color-search-bar-grey: #5E5E5E;

$content-width-middle: 1000px;
$content-width-pre-middle: 849px;
